<!DOCTYPE html>
<html>
   <body>

      <h3>Employees - Flask SQLAlchemy example</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "Name" /><br>
         <label for = "Location">Location</label><br>
         <input type = "text" name = "location" placeholder = "Location" /><br>
         <label for = "doj">Date Of Joining</label><br>
         <input type = "text" name = "doj" placeholder = "DOJ" /><br>
         <input type = "submit" value = "Submit" />
      </form>

   </body>
</html>