<!DOCTYPE html>
<html>
   <body>

      <h3>Employee Address - Flask SQLAlchemy example</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "street_add">Street Address</label><br>
         <input type = "text" name = "street_add" placeholder = "Street Address" /><br>
         <label for = "apartment_num">Apartment Number</label><br>
         <input type = "text" name = "apartment_num" placeholder = "Apartment Number" /><br>
         <label for = "pin">Postal Code</label><br>
         <input type = "text" name = "pin" placeholder = "Postal Code" /><br>
         <input type = "submit" value = "Submit" />
      </form>

   </body>
</html>